.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.login-container {
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.login-content {
  width: 100%;
  text-align: center;
}

.login-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}


.input-field {
  width: 100%;        
  max-width: 400px;    
  padding: 12px;       
  font-size: 16px;     
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input-field:focus {
  border-color: #2575fc;
}

.form-group {
  text-align: left;
  margin-bottom: 1rem;
  padding-right: 25px;
  
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s ease-in-out;
  outline: none;
}

.form-group input:focus {
  border-color: #6a11cb;
  box-shadow: 0px 0px 5px rgba(106, 17, 203, 0.5);
}

.login-button {
  width: 100%;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.login-button:hover {
  background: linear-gradient(to right, #2575fc, #6a11cb);
  transform: scale(1.03);
}

.login-button:active {
  transform: scale(0.98);
}

.Button{
  padding-left: 120px;
  padding-right: 120px;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.register-link {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.register-link a {
  color: #2575fc;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

